@charset "UTF-8";

label {
    display: inline-block;
    width: 8em;
    line-height: 150%;
}

input.error,
select.error {
    color: red;
}

div {
    color: red;
    display: inline-block;
}